<h3>列表</h3>
<admin:panel >
 <admin:tabletool filter="true"  keyword="{$pageMaps.keyword}">
 <select name="class_id" id="class_id" class="form-element">
          	<option value="0">==栏目==</option>
            <foreach name="categoryList" item="vo">
            	<option value="{$vo.class_id}"
                <if condition="$pageMaps['class_id'] == $vo['class_id']"> selected="selected" </if>
                >{$vo.cname}
                </option>
            </foreach>
          </select>
 
<input name="keyword" type="hidden" value="{$pageMaps.keyword}"/>
   </admin:tabletool>
  <admin:table id="table" show="选择|30,编号,uid,用户名|100,广告名,广告栏目,广告图|100,单价,预算,点击量,无效点击量,状态,创建时间|130,操作">
    <foreach name="list" item="vo">
      <tr>
        <td>
        	<input type="checkbox" name="id[]" value="{$vo.id}" />
        </td>
        <td>{$vo.id}</td>
        <td>{$vo.uid}</td>
        <td>{$vo.user_login}</td>
        <td>{$vo.ad_name}</td>
        <td>{$vo.class_name}</td>
        <td><img src="{$vo.ad_img}" width="150px"></td>
        <td>{$vo.dj_fee}</td>
        <td>{$vo.ys_fee}</td>
        <td>{$vo.click}</td>
        <td>{$vo.no_click}</td>
        <td><font color="red"><if condition="$vo['status'] eq 1">已上架 <elseif condition="$vo['status'] eq 0" />待审核 <else />已下架 </if></font></td>
		<td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
         <td>
        <if condition="$vo['status'] neq 1">
        <a class="u-btn u-btn-primary  u-btn-small" href="{:U('ad_up',array('id'=>$vo['id'],'status'=>1))}">上架</a>
        <else/>
        <a class="u-btn u-btn-primary  u-btn-small" href="{:U('ad_up',array('id'=>$vo['id'],'status'=>2))}">下架</a>
        </if>
        <a class="u-btn u-btn-danger  u-btn-small del" href="javascript:;" data="{$vo.id}">删除</a>
        </td>
      </tr>
    </foreach>
  </admin:table>
  <admin:tablefoot />
</admin:panel>
<script type="text/javascript" charset="utf-8">
	Do.ready('base',function() {
		//移动操作
		$('#selectAction').change(function() {
			var type = $(this).val();
			if(type == 3){
				$(this).after($('#class_id').clone());
			}else{
				$(this).nextAll('select').hide();
			}
		});
		//表格处理
		$('#table').duxTable({
			actionUrl : "{:U('batchAction')}",
			deleteUrl: "{:U('del')}",
			actionParameter : function(){
				return {'class_id' : $('#selectAction').next('#class_id').val()};
			}
		});
	});
</script>





